.forgot-container {
  background-image: url("/src/front/assets/img/FondoIA.jpg");

  min-height: 100vh;
  padding: 1rem;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-family: "Inter", sans-serif;
  box-shadow: inset 0 0 25px #0ff;
}

.forgot-box {
  background: rgba(0, 0, 0, 0.5);
  border: 2px solid #00bfff;
  border-radius: 1.5rem;
  padding: 2rem;
  max-width: 400px;
  width: 100%;
  box-shadow: 0 0 25px #00bfff;
  text-align: center;
  backdrop-filter: blur(10px);
}

.forgot-box h1 {
  font-size: 1.5rem;
  color: #0ff;
  margin-bottom: 1.5rem;
  text-shadow: 0 0 8px #0ff;
}

.forgot-box input {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  border-radius: 0.75rem;
  background: rgba(255, 255, 255, 0.05);
  color: #fff;
  margin-bottom: 1.2rem;
  font-size: 1rem;
  box-shadow: 0 0 10px #00bfff;
  outline: none;
}

.forgot-box input::placeholder {
  color: #aaa;
}

.forgot-box button {
  width: 100%;
  padding: 0.75rem 1rem;
  background: linear-gradient(90deg, #0055ff, #33ccff);
  color: #fff;
  font-weight: bold;
  border: none;
  border-radius: 0.75rem;
  cursor: pointer;
  font-size: 1rem;
  box-shadow: 0 0 15px #00bfff, inset 0 0 6px rgba(255, 255, 255, 0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.forgot-box button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 25px #00ffff;
}
